parameters:
    level: 1
    reportUnmatchedIgnoredErrors: false
    paths:
        - src
rules:
  - Rules\StaticMethodInVoterRule
  - Rules\ForbiddenMethodRule
  - Rules\SetIdentityDataBeenCalledRule