parameters:
    level: 1
    reportUnmatchedIgnoredErrors: false
    paths:
        - src
rules:
  - Rules\StaticMethodInVoterRule
  - Rules\ForbiddenMethodRule
  - Rules\SetIdentityDataHandlerBeenCalledRule
  - Rules\SetIdentityDataMessageBeenCalledRule
  - Rules\MandatoryCompanyFilterInterfaceImplementationRule
  - Rules\AuditedCommandRule
  - Rules\NoObjectsInPropertiesConstraintRule
  - Rules\ForbiddenImportRule